body {
  background-color: white;
  /* display: flex; */
  justify-content: center;
  height: 100%;
  margin-top: 50px;
  
}

table {
  background-color: blue;
  width: 500px;
  height: 500px;
  border: 2px solid blue;
  
}
/* table {
  background-color: blue;
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  
} */

td {

  background-color: yellow;
  border: 2px solid blue;
}

