body {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 50px;
  
}

table {
  background-color: blue;
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  
}

td {

  background-color: yellow;
  border: 2px solid blue;
}